.random-birth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
}

.left-block,
.right-block {
  flex: 1;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.newborn-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.newborn-table td {
  padding: 5px;
  border: 1px solid #ddd;
}

h1, h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.next-button {
  background-color: #ff6347;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.accept-button {
  background-color: #32cd32;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.next-button:hover {
  background-color: #e55347;
}

.accept-button:hover {
  background-color: #28a745;
}

#map {
  height: 200px;
  width: 100%;
  border-radius: 8px;
}
